#vacation .fc-event-mirror,#vacation .fc-daygrid-bg-harness .fc-highlight {
    background: darkseagreen !important;
}

#vacation .fc-createVacationBtn-button {
    background: green !important;
    font-weight: 600;
}