.App {
    text-align: center;
}

.logout-link {
    cursor: pointer;
    text-decoration: underline;
}

/* FullCalendar start */
.fc a {
    color: #212529;
}

.fc a:hover {
    color: #212529;
}

.timePickerEntry {
    cursor: pointer;
}

.timePickerEntry:nth-child(4n)::after {
    content: "\a";
    white-space: pre;
}

.fc-daygrid-day-number {
    text-decoration: none;
}

.reservation .fc-day-past:not(#vacation .fc-day-past) ,
.reservation .fc-event-past:not(#vacation .fc-event-past)  {
    background-color: rgba(239, 239, 239, 0.6) !important;
    color: rgb(84, 84, 84) !important;
    border-color: rgba(118, 118, 118, 0.3) !important;
}
/* FullCalendar end */